 <!-- Site Footer - Start
      ================================================== -->
      <footer class="site-footer">
        <div class="container-fluid">
          <a class="footer-cepro-logo" href="https://cepro.energy">
            <img src="{{ site.url }}{{ site.baseurl }}/assets/images/CEPRO_Inline-tag-white.png" alt="CEPRO logo">
          </a>
          <ul class="contact-info-list">
            <li><a href="mailto:{{ site.esco.email }}"><strong>Email:</strong> {{ site.esco.email }}</a></li>
            <li><a href="tel:{{ site.esco.phone }}"><strong>Phone:</strong> {{ site.esco.phone }}</a></li>
          </ul>
        </div>
      </footer>
      <!-- Site Footer - End
      ================================================== -->
