 <!-- Site Footer - Start
      ================================================== -->
      <footer class="site-footer">
        <div class="container-fluid">
          <ul class="contact-info-list">
            <li><a href="mailto:hello@waterlilies.energy"><strong>Email:</strong> hello@waterlilies.energy</a></li>
            <li><a href="tel:+443308283096"><strong>Phone:</strong> +44 330 828 3096</a></li>
          </ul>
        </div>
      </footer>
      <!-- Site Footer - End
      ================================================== -->