<!-- Hero Section - Start
        ================================================== -->
<section class="hero-section section-space" style="background-image: url('{{ site.url }}{{ site.baseurl }}/assets/images/cepro-illa-water-lillies.webp');">
  <div class="container">
    <div class="hero-image">
      <img src="{{ site.url }}{{ site.baseurl }}/assets/images/site-logo.webp" alt="{{ site.title }}">
    </div>
  </div>
</section>
<!-- Hero Section - End
          ================================================== -->


<!-- About Section - Start
        ================================================== -->
<section class="about-section section-space">
  <div class="container">
    <div class="row">
      <div class="about-image">
        <img src="{{ site.url }}{{ site.baseurl }}/assets/images/{{ site.esco.image.filename }}" alt="{{ site.esco.image.alt }}">
      </div>
      <div class="about-content">
        <h2 class="heading-title">
          Community Energy Reinvented
        </h2>
        <p class="heading-description">
          {{ site.esco.description }}
        </p>
        <p>
          As the technology behind solar PV panels, inverters, and battery energy storage systems has improved, it has
          now become possible to build a microgrid system that shares key parts of the infrastructure, and get the
          beneﬁt of scale across a small site such as {{ site.esco.name }}.
        </p>
        <a class="btn" href="{{ site.esco.app_url }}">
          Customer Log In
        </a>
      </div>
    </div>
  </div>
</section>
<!-- About Section - End
        ================================================== -->

<!-- Investor Section - Start
        ================================================== -->
<section class="investor-section">
  <div class="container">
    <div class="row">
      <div class="paper-flower">
        <img src="{{ site.url }}{{ site.baseurl }}/assets/images/paper-flower.webp" alt="Paper Flower">
      </div>
      <div class="investor-content">
        <h2 class="heading-title">
          <u>Your Impact Investor</u>
        </h2>
        <p class="heading-description">
          {{ site.esco.investor_description }}
        </p>
      </div>
    </div>
  </div>
</section>
<!-- Investor Section - End
        ================================================== -->

<!-- Benefit Section - Start
        ================================================== -->
<section class="benefit-section section-space">
  <div class="container">
    <div class="content-area">
      <div class="row">
        <div class="benefit-content">
          <h2 class="heading-title">The Benefits</h2>
          <p class="heading-description">
            The {{ site.title }} company has been created to provide you with:
          </p>
          <ul>
            <li>✔ Cheaper bills</li>
            <li>✔ Lower carbon footprint</li>
            <li>✔ Simple pricing and flat rate tariff</li>
            <li>✔ Integrated EV charging</li>
            <li>✔ Smart Heat</li>
          </ul>
        </div>
        <div class="benefit-image">
          <img src="{{ site.url }}{{ site.baseurl }}/assets/images/cepro-illa-water-lillies-2.webp" alt="cepro illa water lillies">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Benefit Section - End
        ================================================== -->
